@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap");

.error-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.error-content {
  position: relative;
  font-family: "Sora", sans-serif;
}

.error-content h1 {
  font-size: 120px;
  color: #0066ff;
}

.error-content p {
  font-size: 25px;
}
